.header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 50px;
}

.header__logo {
  display: flex;
  align-self: flex-start;
}

.header__pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 30px;
  background-color: #1d44e0;
}

.header__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.27em;
  color: #1d44e0;
  text-transform: uppercase;
  margin: 0;
}

.haeder__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.055em;
  color: #1d44e0;
  text-transform: uppercase;
  margin: 0;
}
